#cloud-config
manage_etc_hosts: true
bootcmd:
 - [ sysctl, net.ipv4.ip_forward=1 ]
 - [ ip, link, set, ens4, up ]
 - [ dhclient, ens4 ]
 - [ sh, -c, echo "nameserver 8.8.8.8" > /etc/resolv.conf ]
ssh_pwauth: True
password: ubuntu
chpasswd:
  list: |
    ubuntu:ubuntu
  expire: False
package_update: false
